<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Azure Storage</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="queue">
                <span class="oi oi-layers" aria-hidden="true"></span> Queue
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="servicebus">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Service Bus
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="eventhub">
                <span class="oi oi-flash" aria-hidden="true"></span> Event Hub
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="eventgrid">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Event Grid
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="appconfiguration">
                <span class="oi oi-copywriting" aria-hidden="true"></span> App Configuration
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="keyvault">
                <span class="oi oi-key" aria-hidden="true"></span> Key Vault
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
