@page "/"

<h1>Hello, Azure Tar!</h1>

<h2>Azure Storage</h2>

<dl>
    <dt>Queue</dt>
    <dd>
        <ul>
            <li><a href="https://azure.microsoft.com/en-au/services/storage/queues/" target="_blank">Service</a></li>
            <li><a href="https://docs.microsoft.com/en-au/azure/storage/queues/" target="_blank">Docs</a></li>
            <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
            <li><a href="https://youtu.be/" target="_blank">Video</a></li>
        </ul>
    </dd>

    <dt>Service Bus</dt>
    <dd>
        <ul>
            <li><a href="" target="_blank">Service</a></li>
            <li><a href="" target="_blank">Docs</a></li>
            <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
            <li><a href="https://youtu.be/" target="_blank">Video</a></li>
        </ul>
    </dd>

    <dt>Event Hub</dt>
    <dd>
        <ul>
            <li><a href="" target="_blank">Service</a></li>
            <li><a href="" target="_blank">Docs</a></li>
            <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
            <li><a href="https://youtu.be/" target="_blank">Video</a></li>
        </ul>
    </dd>

    <dt>Event Grid</dt>
    <dd>
        <ul>
            <li><a href="" target="_blank">Service</a></li>
            <li><a href="" target="_blank">Docs</a></li>
            <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
            <li><a href="https://youtu.be/" target="_blank">Video</a></li>
        </ul>
    </dd>

    <dt>App Configuration</dt>
    <dd>
        <ul>
            <li><a href="https://azure.microsoft.com/en-us/services/app-configuration/" target="_blank">Service</a></li>
            <li><a href="https://docs.microsoft.com/en-us/azure/azure-app-configuration/" target="_blank">Docs</a></li>
            <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
            <li><a href="https://youtu.be/" target="_blank">Video</a></li>
        </ul>
    </dd>

    <dt>Key Vault</dt>
    <dd>
        <ul>
            <li><a href="" target="_blank">Service</a></li>
            <li><a href="" target="_blank">Docs</a></li>
            <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
            <li><a href="https://youtu.be/" target="_blank">Video</a></li>
        </ul>
    </dd>
</dl>