@{
    ViewData["Title"] = "Home";
}

<h2>Azure Storage</h2>

<div class="row">
    <div class="col">
        <dl>
            <dt>Queue</dt>
            <dd>
                <ul>
                    <li><a href="https://azure.microsoft.com/services/storage/queues/" target="_blank">Azure Service</a></li>
                    <li><a href="https://docs.microsoft.com/azure/storage/queues/" target="_blank">Docs</a></li>
                    <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
                    <li><a href="https://youtu.be/" target="_blank">Video</a></li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col">
        <dl>
            <dt>Event Hub</dt>
            <dd>
                <ul>
                    <li><a href="" target="_blank">Azure Service</a></li>
                    <li><a href="" target="_blank">Docs</a></li>
                    <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
                    <li><a href="https://youtu.be/" target="_blank">Video</a></li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col">
        <dl>
            <dt>App Configuration</dt>
            <dd>
                <ul>
                    <li><a href="https://azure.microsoft.com/en-us/services/app-configuration/" target="_blank">Azure Service</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/azure/azure-app-configuration/" target="_blank">Docs</a></li>
                    <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
                    <li><a href="https://youtu.be/" target="_blank">Video</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col">
        <dl>
            <dt>Service Bus</dt>
            <dd>
                <ul>
                    <li><a href="" target="_blank">Azure Service</a></li>
                    <li><a href="" target="_blank">Docs</a></li>
                    <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
                    <li><a href="https://youtu.be/" target="_blank">Video</a></li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col">
        <dl>
            <dt>Event Grid</dt>
            <dd>
                <ul>
                    <li><a href="" target="_blank">Azure Service</a></li>
                    <li><a href="" target="_blank">Docs</a></li>
                    <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
                    <li><a href="https://youtu.be/" target="_blank">Video</a></li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col">
        <dl>
            <dt>Key Vault</dt>
            <dd>
                <ul>
                    <li><a href="" target="_blank">Azure Service</a></li>
                    <li><a href="" target="_blank">Docs</a></li>
                    <li><a href="https://azuretar.com/" target="_blank">Article</a></li>
                    <li><a href="https://youtu.be/" target="_blank">Video</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
